*.wav
*.mp3
result.txt
/target
# Ignore the gradio cache directory, since it causes a pain in the bottom when it comes to publishing to crates.io, since every run of an example creates a new cache entry, which causes cargo to smell the dirty repo.
# Unignore it in your own repos that use this library, if you want to allow users to build their apps offline.
.gradio_cache/
